@media screen and (max-width : 800px){
    section img:nth-child(2n+1){
        display: none;
    }

    img{
        width: 25%;
    }

    main nav {
        display: none;
    }

    i {
        visibility: visible;
        color: #569c64;
        float: right;
        margin-top: 35px;
        cursor: pointer;
    }

    main section {
        width: auto;
    }
}

@media screen and (min-width : 800px){
    i {
        visibility: hidden; 
        float: right;
    }
}

body {
    font-family: 'News Cycle', sans-serif;
    margin: 0;
} 


main:nth-child(2n+1){
    background-color: #569c64;
}

li {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.9em;
}

li:hover a{
    color: #569c64;
}

main {
    margin: auto;
    max-width: 1300px;
}

h1, nav, li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    width: 14%;
    padding-left: 4em;
}

nav {
    width: 70%;
    text-align: right;
}

header {
    background-color: #eeeeee;
}

section {
    text-align: center;
    color: white;
}

#s1 {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4em;   
}

img{
    border-radius: 50%;
    margin-top: 4em;
    margin-left: 3em;
}

h2{
    font-size: 4em;
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    padding: 4em;
}

.btn{
    background-color: #2d4047;
    padding: 1.4em 3.2em;;
    border-radius: 8px;
    color: white;
    font-size: 1.2em;
} 

#s2{
    background-color: #eeeeee;;
    color: black;
    padding-bottom: 4em;
}

#s3 {
    padding-bottom: 4em;
}

#s2 h2{
    padding-top: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

#s2 .btn{
    background-color: #569c64;
}

#s3 h2{
    padding-top: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

#s3 .btn{
    background-color: #eeeeee;
    color: #569c64
}
footer{
    text-align: center;
    background-color: #eeeeee;
}

#s3 p{
    padding-bottom: 6.5em;
}

footer p{
    margin: 0;
}