body {
    font-family: 'News Cycle', sans-serif;
} 

li {
    padding-left: 1em;
    padding-right: 1em;
}

main {
    margin: auto;
    width: 1300px;
    background-color: grey;
}

h1, nav, li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    width: 20%;
}

nav {
    width: 75%;
    
}

header {
    background-color: #eeeeee;
}

section {
    text-align: center;
}

#s1 {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}